.galeria__secao {
    margin-top: 2rem;
}

.galeria__cabecalho {
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    padding-bottom: 1.25rem;
}

.galeria__secao--titulo {
    color: var(--cinza-escuro);
}

.galeria__secao--link {
    background: url(../img/seta.png) no-repeat;
    color: var(--azul);
    background-position: right;
    padding-right: 6%;
    text-decoration: none;
}

.galeria__conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.produto__card {
    display: grid;
    grid-template-areas: 
        "card-imagem"
        'card-conteudo';
    grid-template-columns: 100%;
    grid-template-rows: 173px auto;
    width: calc(16.25% - 1rem);
}

.produto__card--imagem {
    grid-area: card-imagem;
    height: 100%;
    width: 100%;
}

.produto__card--corpo {
    grid-area: card-conteudo;
    line-height: 1.5rem;
}

.produto__card--titulo {
    color: var(--cinza-escuro);
    font-size: .85rem;
    font-weight: 500;
}

.produto__card--valor {
    color: var(--cinza-escuro);
}

.produto__card--link {
    color: var(--azul);
    text-decoration: none;
}

@media screen and (min-width: 0) {
    .galeria {
        padding: .5rem 1rem;
    }

    .galeria__secao--titulo {
        font-size: 1.5rem;
    }

    .produto__card {
        width: calc(50% - 1rem);
        margin-bottom: 1rem;
    }   

    .produto__card:nth-child(5), .produto__card:nth-child(6) {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .galeria__secao {
        margin-top: 2.5rem;
    }

    .galeria {
        padding: 1.25rem 4rem;
    }

    .produto__card {
        width: calc(25% - 1rem);
        margin-top: 0;
    }

    .galeria__secao--titulo {
        font-size: 1.75rem;
    }
}

@media screen and (min-width: 1220px) {
    .galeria__secao {
        margin-top: 3rem;
    }
    
    .galeria {
        padding: 2.5rem 8rem;
    }

    .galeria__secao--link {
        padding-right: 2.5%;
    }

    .produto__card:nth-child(5), .produto__card:nth-child(6) {
        display: grid;
    }

    .galeria__secao--titulo {
        font-size: 2rem;
    }

    .produto__card {
        width: calc(16.25% - 1rem);
        margin-right: 1rem;
    }

    .produto__card:last-child {
        margin-right: 0;
    }
}