.rodape__desenvolvedor {
    background-color: var(--branco);
    padding: 2rem 0;
    text-align: center;
}

.rodape__desenvolvedor--texto {
    color: var(--cinza-escuro);
    font-weight: 500;
    font-size: 1rem;
}

@media screen and (min-width: 0) {
    
}

@media screen and (min-width: 768px) {
    
}

@media screen and (min-width: 1220px) {
    
}